// Document Setup
body {
  background-color: @white;
  font-family: @font-base;
  font-size: @font-size-base;
  line-height: @line-height-base;
  .font-smoothing(antialiased);
  .text-rendering(optimizelegibility);
}

